<h1>Lottery Picks</h1>

<h2>Treasure Hunt: <%= treasure_hunt.join(', ') %></h2>

<h2>Cash 5: <%= cash5.join(', ') %></h2>

<h2>Match6: <%= match6.join(', ') %></h2>

<% qps.each do |pick| %>
	<h2>-----qp: <%= pick.sort.join(', ') %></h2>
<% end %>

<h2>Cash for LIfe: <%= cashforlife[0].join(', ') %> cash-ball: <%= cashforlife[1] %></h2>

<h2>Powerball: <%= powerball[0].join(', ') %> Bonus: <%= powerball[1] %></h2>

<h2>Megamillions: <%= megamillions[0].join(', ') %> Bonus: <%= megamillions[1] %></h2>